* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px red dotted; */
}

@font-face {
    font-family: Caveat;
    src: url(./font/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Bariol;
    src: url(./font/bariol_serif_regular-webfont.ttf);
}

.fancy {
    font-family: Caveat;
    font-size: 2rem;
}

.mainLogo {
    font-size: 7.5rem;
}

.logo {
    font-size: 5rem;
}

.mainSubtitle{
    font-family: Bariol;
    font-size: larger;
    font-weight: 200;

}

.productCards {
    min-height: 30rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.buttons {
    width: 7em;
    margin: .5em;
}

.tdata {
    vertical-align: middle;
}

.dataTable {
    overflow: auto;
    min-height: 90vh;
}

.statBtn {
    width: 5rem;
    height: 2rem;
    font-size: .8em;
    padding: .4em;
    margin: 0;
    margin-top: .4em;
}

.btn-success, .btn-danger {
    margin: 0 .5em;
    
}

.addNew {
    width: 8rem;
}

.prodImg {
    height: 20vh;
    width: 100%;
}

.total {
    vertical-align: middle !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qtyInput {
    width: 4rem;
    text-align: center;
    pad: 0 0 0 2em;
}

.notFound {
    width: 100%;
}

.log-out {
    margin-top: .7rem;
}

.nav-tooltip {
    padding: 0;
}

.cartItems {
    height: 20rem;
}